body{
  text-align: center;
  background-color: rgb(28, 26, 26);
}

.top-container{ 
  background-color: #213E3B;
  display: block;
}

h1{  
  color: #1FAB89;
  font-family: 'Segoe Script', cursive;
  font-size:55px;
  margin: 0 0 0 0;
}
h4{
  color: #1FAB89;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin: 0 0 0 0;
}
p{
  color: #1FAB89;
  font-family: 'Montserrat', sans-serif;
  font-size: 24.9px;
}
table{
  font-size: 18px;
}
ul{
  font-size: 18px;
}
.rajeshdp{
  width: 15%;
}
.cloudl{

position:relative;
  top: 20px;
  right: 380px;
  width: 13%;
}
.cloudr{
  position: relative;
  left:330px;
  top: 120px;
  width: 13%;
}
.himalayas{
  width: 100%;
}
.skills{ 
  color: white;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.design-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.paint-img{
  width: 25%;
  float:left;
  margin-right: 40px;
}
.contact-me{
    color: white;
    font-size: 1vw;
}
.footer-link{
    font-size: 0.4vw;
}
.footer-img{
    height: 1vw; 
    width: 1vw; 
    padding: 1vw;
}



@media screen and (max-width:600px){
    .contact-me{
        color: white;
        font-size: 1.4vw;
    }
    .footer-link{
        font-size: 1.7vw;
    }
    .footer-img{
        height: 1.9vw; 
        width: 2vw; 
        padding: 1.3vw;
    }
}
